.bar
    .bar__first
        a(href="#").bar__firstLink
            span.titleGreen БАР 
            span.title КОКТЕЛИ 
    .bar__second
        a(href="#").bar__secondLink
            span.titleGreen БАР 
            span.title КОКТЕЛИ 
    .bar__third
        a(href="#").bar__thirdLink
            span.titleGreen БАР 
            span.title КОКТЕЛИ 