.contacts
    .contactsForm
        .contactsFormLeft
            input(type="text" value="ВАША ФИО*")
            input(type="text" value="ВАШ ЭЛ. ПОЧТА*")
            input(type="text" value="ВАША ГОРОД*")
            input(type="text" value="ВАШ ТЕЛЕФОН*")
        .contactsFormRight
            textarea(placeholder="ВАШ ВОПРОС*")
            button ОТПРАВИТЬ
    .contactsMap
        .contactsMapLeft
            .contactsMapLeft__title.titleWhite Ростов-на-дону
            .contactsMapLeft__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            .contactsMapLeft__map
                img(src="assets/img/hookans/1.jpg" width="100%" height="100%")
        .contactsMapRight
            .contactsMapRight__title.titleWhite Ростов-на-дону
            .contactsMapRight__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            .contactsMapRight__map
                img(src="assets/img/hookans/1.jpg" width="100%" height="100%")