block variables

doctype html
html
    head
        title= "Bootstrap"
        meta( charset = "utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        
        link(href="assets/img/logotype/logo.png" rel="shortcut icon" type="image/x-icon")        
        link(rel="stylesheet" href="assets/css/style.css")

        script(src="assets/js/app.js")
        <!--[if lt IE 9]>
            script(src="http://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js")
        <![endif]-->
    body
        block content