block variables

doctype html
html
    head
        title= ""
        meta( charset = "utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        
        link(href="#" rel="shortcut icon" type="")        
        link(rel="stylesheet" href="assets/css/style.css")

        script(src="assets/js/main.js")
        script(src="assets/js/jquery.maskedinput.min.js")
        script(src="assets/js/owl.carousel.min.js")
        <!--[if lt IE 9]>
            script(src="http://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js")
        <![endif]-->
    body
        block content