.home
    .homeSlider
    .homeSlabMenu
        .homeSlabMenuFirst
            a(href="/bar.html").homeSlabMenuBar
                span.title БАР 
        .homeSlabMenuSecond
            a(href="/menu.html").homeSlabMenuFood
                span.title МЕНЮ
        .homeSlabMenuBox
            .homeSlabMenuBoxFirst
                a(href="#").homeSlabMenuBoxShare
                    span.title АКЦИИ
            .homeSlabMenuBoxSecond
                a(href="/about.html").homeSlabMenuBoxAbout
                    span.title О НАС