.menu
    .menu__first
        a(href="#").menu__firstLink
            span.titleGreen МЕНЮ 
            span.title ЗАКУСКИ 
    .menu__second
        a(href="#").menu__secondLink
            span.titleGreen МЕНЮ 
            span.title ЗАКУСКИ
    .menu__third
        a(href="#").menu__thirdLink
            span.titleGreen МЕНЮ  
            span.title ЗАКУСКИ 