.overlay
.modal
    .modal__title
        .titleWhite ЗАКАЗАТЬ ЗВОНОК
    .modal__closeButton
        span.spanFirst
        span.spanSecond
    .modal__box
        input(id="name" value="ВАША ФИО*").modal__boxName
        input(id="phone" value="НОМЕР ТЕЛЕФОНА*").modal__boxPhone
        input(id="city" value="ГОРОД*").modal__boxCity
    button(id="send").modal__send ОТПРАВИТЬ