include _head.pug
    include _header.pug
    .box
        .boxTitle
            span.boxTitleWhite О
            .boxTitleSpace
            span.boxTitleGreen Н
            span.boxTitleWhite АС
        include _about.pug
    include _modal.pug
    include _footer.pug