include _head.pug
    include _header.pug
    .box
        .boxTitle
            span.boxTitleWhite К
            span.boxTitleGreen О
            span.boxTitleWhite НТАКТЫ
        include _contacts.pug   
    include _modal.pug
    include _footer.pug